<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div id="status" class="alert">
      </div>

      <div class="form-userdata">
        <h1>Gyroscoper</h1>
        <p>Fill out the data to start recording</p>
        <input id="form-name" type="text" class="form-control" placeholder="Name" required autofocus>
        <button id="start-record" class="btn btn-lg btn-primary btn-block">Record!</button>
      </div>

      <div id="record-status">
        <h2>Recording...</h2>
        <div class="text-center" id="record-duration">0 s</div>
        <button id="stop-record" class="btn btn-lg btn-primary btn-block" type="submit">Stop Recording</button>
      </div>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/gyro.js"></script>
  </body>
</html>

