<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div id="status" class="alert">
      </div>

      <div class="form-userdata">
        <h1>Gyroscoper</h1>
        <p>Please fill out your data to get started (<a href="" id="imperial-units">Imperial</a> | <a href="" id="metric-units">Metric</a>)</p>
        <div class="form-group">
          <label for="form-age">Age</label>
          <input id="form-age" type="text" pattern="\d*" class="form-control" placeholder="Age" required autofocus>
        </div>
        <div class="form-group">
          <label for="form-weight">Weight</label>
          <div class="input-group">
            <input id="form-weight" type="text" pattern="\d*" class="form-control" placeholder="Weight" required>
            <span class="input-group-addon" id="weight-units">lbs</span>
          </div>
        </div>
        <div class="form-group">
          <label for="form-weight">Height</label>
          <div class="input-group">
            <input id="form-height-big" type="text" pattern="\d*" class="form-control" placeholder="(feet)" required>
            <span class="input-group-addon" id="height-big-units">ft</span>
            <input id="form-height-small" type="text" pattern="\d*" class="form-control" placeholder="(inches)" required>
            <span class="input-group-addon" id="height-small-units">in</span>
          </div>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="gender" id="form-male" />Male
          </label>
          <label class="btn btn-default">
            <input type="radio" name="gender" id="form-female" />Female
          </label>
        </div>
        <button id="start-record" class="btn btn-lg btn-primary btn-block" disabled="disabled">Record!</button>
      </div>

      <div id="record-status">
        <h2>Recording...</h2>
        <p><strong>Please place your phone/device in your pocket and walk around for at least 10 seconds</strong></p>
        <div class="text-center" id="record-duration">0 s</div>
        <button id="stop-record" class="btn btn-lg btn-primary btn-block" type="submit">Stop Recording</button>
      </div>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var settings = {
        mobileAgentOnly: <%- JSON.stringify(gyro_settings.mobileAgentOnly) %>,
        requireAllAxis: <%- JSON.stringify(gyro_settings.requireAllAxis) %>
      };
    </script>
    <script src="/javascripts/gyro.js"></script>
  </body>
</html>

